---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
const pageTitle = "Organ Mountain Zen"
---
<BaseLayout pageTitle={pageTitle}>
  <h3>Roshi will blog here in the future</h3>
  <!-- <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>-->
</BaseLayout>