---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Order of Clear Mind Zen - Heart Sutra";
---
<BaseLayout pageTitle={title}>

    <h2>Great Heart of Wisdom Sutra</h2>
    <h3>Translation by Rev. Matsuoka-roshi</h3>
<p>When Kannon the Bodhisattva of Compassion was practicing the deepest wisdom he clearly saw that the five ‘ aggregates are empty thus 
    transcending distress and suffering. Oh Shariputra form is no other than emptiness, emptiness no other than form, form is exactly emptiness, 
    emptiness exactly form, feeling thought, impulse, and consciousness are likewise like this.</p>
<p>O Shariputra, remember, Dharma is fundamentally emptiness, no birth, no death. Nothing is pure, nothing is defiled. Nothing can increase, 
    nothing can decrease. Hence: in emptiness, no form, no feeling no thought, no impulse, no consciousness; no eye, no ear, no nose, no tongue, 
    no body, no mind; no seeing, no hearing, no smelling, no tasting, no touching, no thinking, no realm of sight, no realm of thought, no 
    ignorance and no end of ignorance, no old age and death and no end to old age and death. No suffering, no craving, no extinction, no path, no wisdom, no attainment.</p>
<p>Indeed, there is nothing to be attained; the Bodhisattvas live this deepest wisdom ‘ with no hindrance in the mind, no hindrance therefore no fear. Far beyond delusive thinking they finally awaken to complete Nirvana. All Buddhas, Bodhisattvas of past, present, and future live this deepest wisdom and ‘ therefore reach the most supreme enlightenment. Therefore know that this wisdom, beyond wisdom, is the greatest Dharani, the brightest Dharani, the highest Dharani, the peerless Dharani. It completely ends all suffering. Know this as truth and do not doubt. So set forth this profound wisdom Dharani. Set forth this Dharani and declare: Gone, gone, gone to the other shore, attained the other shore, to beyond the other shore, having never left. Wisdom Heart Sutra.
</p>


<h2>Commentary</h2>
<h3> by Harvey Daiho Hilbert-roshi</h3>
<div class="quote">When Kannon, the Bodhisattva of Compassion, was practicing the deepest wisdom, he clearly saw that the five aggregates are empty thus transcending distress and suffering.</div>
<p>Kannon, Avalokitesvara, Kuan yin: all names for the personification of compassion. This is the person who listens to the cries of the universe and replies with him- or herself.</p>
<p>We just don’t sit there; we are compelled to act to relieve the suffering of others.</p>
<p>Even Bodhisattvas, awakened beings, practice zazen. And when they practice deeply and see into the essence of existence they see a 
    single truth: all existence lacks a permanent foundation. All is one and all is process. Constantly changing, constantly moving. 
    We often miss this because of our perspective. Shift the perspective, change the paradigm, and there it is, revealed to us. 
    If we were oak trees, our lifespan would be a very long event relative to that of a human being. Yet, even so, we each are born, grow, and die. Nothing of us remains forever.</p>
<p>To practice the deepest wisdom is to live the deepest wisdom, not just think it or even be aware of it. 
    The deepest wisdom must be us, revealed through the oneness of our actions. In doing so, we transcend suffering. 
    This is to say we still suffer, of course, but we take care of the suffering, as Glassman-roshi points out. I cut my finger; 
    I take care of the cut. My dog is hurt; I take care of my dog. I break a glass; I sweep it up. Nothing special, there is just the seamlessness of the activity.</p>
<p> So each of the basic elements that comprise our human life: form, feeling, thought, impulse, and consciousness are also without an independent self-existence. 
    They are empty. To realize this in our lives is to relieve our suffering in the deepest sense. Form comes and goes, as do feelings, as do thoughts, 
    and so on. None of these exist independent of each other, each must have each other in order to arise and when the conditions for their existence 
    are no longer there, they dissolve, making room for others to arise. For us to become invested in maintaining a thought or a feeling or even our 
    lives beyond their natural lifespans or independent of each other is a sort of greed, certainly folly, and always results in suffering.</p>

    <div class="quote">    O Shariputra, form is no other than emptiness, emptiness no other than form, form is exactly emptiness, emptiness exactly form. Feeling, thought, impulse, and consciousness are likewise like this.</div>
<p>This phrasing is a core teaching arising from our practice. When we sit with our breath, practicing shikantaza, we see clearly the nothingness, the impermanence, 
of everything. We see our breath enter and leave; we experience the comings and goings of mind, feeling, body, consciousness, and so on. Nothing lasts, nothing. Yet everything is there, always.</p>
<p>It is important to see that both sides of this couplet are true: form is emptiness and emptiness is form. If we reside in the first half we are like the monk in the koan sitting on top of 
that hundred-foot pole, residing in emptiness, nihilistic and worthless.</p>
<p>Emptiness is form is a statement of perfect faith. What goes, will come again. The outbreath is only half of the story, as is death, 
    as is life, as is pain, as is pleasure. Moreover, each of the aggregates is the same.</p>
<p>We must trust in the processes of the universe, and when we let our ego-self go, we rise and fall on the waters of form, tranquil or stormy, 
    with perfect equanimity. And we take the next step. We always take the next step. We have vowed to do so.</p>

<div class="quote">  O Shariputra, remember, Dharma is fundamentally emptiness no birth, no death. Nothing is pure nothing is defiled. Nothing can increase, nothing can decrease.</div>
<p>All things, all processes, all energy is subject to change and is, indeed, in constant motion with no fixed point. When viewed in this way, our understanding of the acts of birth 
    and death must be seen as processes not as static events. Each are in themselves empty. That which has no permanence cannot be born as we in the west often understand the term, 
    nor can it die, either. When we truly integrate this understanding, making it part of ourselves, we move beyond birth and death, and remain untouched by them.</p>
<p>This is very difficult for us as we tend to see in both linear and static terms. We see things as there. A stone. But that is only because we are seeing with a short view. 
    If we see with a long view, a view of hundreds of thousands of kalpas, the stone is just one blink in a very large and constantly changing process. 
    In truth, we are all the component parts and pieces, energy and matter of all of existence. Right here, right now, aware of itself.</p>
    <div class="quote"> Hence: in emptiness, no form, no feeling, no thought, no impulse, no consciousness; no eye, no ear, no nose, no tongue, no body, 
        no mind; no seeing, no hearing, no smelling, no tasting, no touching, no thinking, no realm of sight, no realm of thought, no ignorance 
        and no end of ignorance; no old age and death and no end to old age and death. No suffering, no craving, no extinction, no path; no wisdom, no attainment.</div>
<p>Shariputra, one of the Buddha’s two chief disciples, was a master at analysis and a master of the sutras. His skill at comprehension was supreme. 
    It is interesting then, that this sutra utilizes a form of logical phrasing. In this case, at this point, we have seen that the nature of everything is 
    oneness, a state of eternal interconnectedness. And if this is so, then the conclusion is as follows: negation. This is sort of like the approach the 
    great Jewish scholar Moses Maimonides used to define God. We can define the Holy only by saying what He is not.</p>
<p>In emptiness there is nothing of substance. A great river flows and the water finds its way. There are no senses that last, no sense receptors that 
    last, no objects, mental formations, nothing, not even ignorance or a lack of ignorance, that last. Indeed, it would seem that the point of our practice 
    is to arrive at a place outside the paradigm of our usual thinking and understanding where we experience the great breath of the universe itself as our own. 
    When we know this in every fiber of our being then there can be no suffering, no craving, no extinction.</p>
<p>Moreover, we are told there is no path, no wisdom, and nothing at all to attain. This is an exquisite exposition of samadhi. Just open your eyes! That is all 
    there is to it. Open your eyes! And see clearly what is right there before you. Don’t add a thing; don’t take a thing away. Just this.</p>
<p>Therefore, what is there to attain? We already possess everything there is. We are perfect just as we are. So, the outside and the inside are one in the same.
(For a history and good discussion of Shariputra, see Great Disciples of the Buddha by Nyanaponika Thera and Hellmuth Hecker, Edited by Bhikkhu Bodhi, 2003).</p>


<div class="quote">Indeed, there is nothing to be attained; the Bodhisattvas live this deepest wisdom with no hindrance in the mind. No hindrance, 
    therefore no fear. Far beyond delusive thinking, they finally awaken to complete nirvana. All Buddhas, Bodhisattvas of past, present, and future, 
    live this deepest wisdom and therefore reach the most supreme enlightenment.</div>
<p>Once we arrive at a place where we realize ourselves fully, see deeply our true nature, we recognize immediately there is, indeed, nothing to be attained. 
    When we live our lives in this way, with this understanding, there are no hindrances. A stone is in our path; we simply step around it. A problem at work; 
    we engage in the process of solving it. Our children are injure; we take the time and offer the love to nurture and heal them. When we are in the present 
    moment, fully, with nothing added, then what could possibly be a hindrance?</p>
<p>It is when we want to be somewhere else, someone else, that we are dissatisfied with our present moment. This want is something we add to the moment taking 
    us away from what is there right in front of us. In this way we live lives of projection, dispair, and suffering.</p>
<p>When we live in the present moment, fully there, there can be no fear. Moment to moment we live. We breathe, laugh, feel, enjoy. We know from our 
practice that these moments are not permanent. Each will come and go. We accept this as the way things are, yet continue to live as fully as possible. 
Fear arises from grasping, a desire not to lose what we think we should have or what we think we can&rsquo;t live without. But we can live without most things, 
really. We can live, that is what we do. And when we appreciate the present moment as the entire universe it is quite enough.</p>

<p>Living in this way is living nirvana. Living this way is to be a living Buddha, the same as all Buddhas of all time because we truly see all time and all 
    places are here right now in this wonderful moment before us. Experiencing this is experiencing complete, unexcelled awakening.</p>


<div class="quote">Therefore know that this wisdom beyond wisdom is the greatest Dharani, the brightest Dharani, the highest Dharani, the peerless Dharani. 
    It completely ends all suffering. Know this as truth and do not doubt. So set forth this profound wisdom Dharani. Set forth this Dharani and declare: 
    Gone, gone, gone to the other shore, attained the other shore, to beyond the other shore, having never left.</div>

<p>A Dharani is a chant, a brief scripture with particular power and elegance. It is often a core teaching that, according to Kennett-roshi, 
    can "encourage a religious attitude of mind, such as compassion, gratitude or faith" (see Zen is Eternal Life, Kennett-roshi, 1999, p.308).</p>
<p>The Heart Sutra is a Dharani that teaches us how to live in a way that allows us to transcend suffering by asking us to look deeply into our true nature, 
    seeing the deep interdependence of all things, and the impermanent nature of the universe. When we live is this way, there can be no suffering.</p>
<p>It is interesting that the sutra asks us not to doubt, when the Buddha himself asks to doubt everything. The point here is not the words, my friends. 
    Scripture is just ink on paper. It is essentially meaningless. Life is our practice and our practice is our teacher. The point is to discover its truth 
    ourselves in our daily lives. When we set forth this Dharani, that is, walk our lives deliberately and sit on our cushions deliberately, with meaningful, 
    purposeful and compassionate effort, keeping the teachings of this sutra as stillpoints in our hearts, we can do nothing but be Buddhas.</p>
<p>When we do get to the other shore, a euphemism for awakening, we find that we were always there. There is no other shore. This shore, that shore, no matter: all shores are one.</p>

<h3>Bibliography</h3
<p>Conze, Edward, Buddhist Wisdom: <i>The Diamond Sutra and The Heart Sutra, </i>Vintage Press, 2001</p>
<p>Glassman-roshi, Bernie, <i>The Infinite Circle: Teaching in Zen,</i> Shambala Press, 2002</p>
<p>Gyatso, Tenzin (His Holiness, the Dalai Lama), <i>Essence of the Heart Sutra,</i> Wisdom Press, 2002</p>
<p>Hasegawa, Seikan, <i>The Cave of Poison Grass: Essays on the Hannya Sutra, </i>Great Ocean Publishers, 1975</p>
<p>Pine, Red, <i>The Heart Sutra: The Womb of Buddhas,</i> Shoemaker and Hoard, 2004</p>
<p>Hahn, Thich Nhat, <i>The Heart of Understanding: Commentaries on the Prajnaparamita Heart Sutra,</i> Parallax Press, 1988</p>

    
  
</BaseLayout>