---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Organ Mountain Zen";
---
<BaseLayout pageTitle={title}>
  
  <Image src={ensoImage} alt="A description of my image." />
  <h2>A Socially Engaged Community</h2>

<p> Organ Mountain Zen was formed as a local affiliate of the Order of Clear Mind Zen 
  and is lead by Harvey Daiho Hilbert Roshi. We practice zen Services at 10 AM Sunday, 
  hold dokusan on Thursday and host a study group Tuesday evening. 
  For more information email Roshi at <a href= "mailto:daihoroshi@gmail.com">daihoroshi@gmail.com</a>.</p>  

<p>In the Order of Clear Mind Zen, we follow the path of the Bodhisattva warrior. Clear Mind Zen is Engaged Zen.</p>

<p>Our Order began in 2005 after Daiho Roshi left the Zen Center of Las Cruces he had re-established in order to pursue a more socially 
  engaged Zen practice. Daiho practiced street Zen, began attracting students in other parts of the United States, and finally recognized 
  the need to become “official.” The Order was officially founded in June of 2010.</p>

<p>Our understanding suggests true Zen practice is not nationally or ethnically based. Zen is Zen. 
  It is the complete Buddha Way. We hold that Clear Mind Zen is the Zen of everyday life, which is manifest in a deep 
  commitment to the Three Pure Precepts. We practice street Zen, a socially engaged practice of bearing witness to war, poverty, and ecological issues.</p> 

<p>We are affiliated with Zen Peacemakers International and with the Buddhist Peace Fellowship. Our affiliate centers include</p>
<ul> 
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.californiastreetzendo.org/"> California Street Zendo</a>, Albuquerque, New Mexico</li> 
  <li><a target="_blank" rel="noopener noreferrer" href="https://clearmindzenwest.com/"> Clear Mind Zen West</a>, Sacramento, California</li> 
<li>
    <a target="_blank" rel="noopener noreferrer" href="https://www.elpasozen.org/"> El Paso Zen Center</a>, El Paso, Texas</a>.</li>
    <li><a target="_blank" rel="noopener noreferrer" href="http://stillcenter.org/"> Still Center Zen Order</a>, Pasadena, California</li> 
  </ul>
<p>When we live with Clear Mind we do what is front of us to do, nothing added - nothing special. Please consider joining us and establishing 
  your own Clear Mind practice.</p>
  

</BaseLayout>