---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';

const title = "My Zen Page";
---
<BaseLayout pageTitle={title}>
  <h2>My awesome blog subtitle</h2>
  
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>