---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Order of Clear Mind Zen - Perfections";
---
<BaseLayout pageTitle={title}>

    <h2>The six perfections</h2>

<p></p>There are six aspects of being. The prajna paramitas are deep wisdom “perfections.” They offer their light beacons 
for our lives. These six perfections are already a part of us, they are in our genes. Sometimes we can’t see them in 
ourselves because they have been clouded over by the delusions of everyday life and by those who would have us remain 
asleep. As we practice, we have the opportunity to become awake to the existence of these qualities quite naturally. 
It is our task to develop them as strong and realized aspects of our daily life.</p>
<p><b>Charity</b>. We need to understand that when people say “only the strong survive,” strength needs to be defined as mutual aid. 
    We are constantly bombarded with images of violence, greed, and suffering. While these things are most certainly in the world, 
    there are countless billions of caring acts being done each and every moment. Caring for each other shows our understanding 
    of our mutual dependence upon each other. It demonstrates our understanding of our true nature. Caring and giving occur 
    naturally as we move our focus from ourselves to others.</p>
<p><b>Moral Discipline</b>. Following the precepts is one way to develop strength of character. We each need boundaries in our lives and the 
    precepts offer boundaries to all who take them into themselves. This does not happen over night and a degree of maturity is 
    required to see the precepts as guides and principles rather than brittle “cookie cutter” rules. Moral disciple is a dynamic and fluid aspect 
    of being that moves within the Two Truths: the truth of the absolute and the truth of the relative. 
    Absolutely there is no living or dying, relatively, there is nothing but living and dying.</p>
<p><b>Patience</b>. A lack of patience is a manifestation of living in a moment other than the one we are just now in. When we are 
patient, we are in the moment wholly and completely, with no thought toward the next place we must get to. Patience is the 
strength underneath the letting go of our thoughts for the truth of this moment. When we are patient, others are empowered 
to be themselves without the force of our needs bending them this way or that. In this, we truly see our interconnectedness.</p>

<p><b>Diligence</b>. Right effort, one of the Noble Eightfold Paths, teaches us to persevere. When confronted with the hardships of 
    doing the right thing, and there are hardships in this, diligence keeps us on task and upright. We should live our lives 
    deliberately. Each moment should be a moment lived with an eye toward living it fully and completely. Sometimes it takes 
    all of our strength to “just sit” for ten minutes, or find the right response to a loved one, or set aside the temptation 
    to cheat on our vows. Indeed, without diligence, we would not see these threats to our peace coming at all.</p>
<p><b>Meditation</b>. To sit on the cushion is to be enlightened. Zazen is a cornerstone and foundation to our practice and development. 
    We set aside time each morning and evening to sit with ourselves in the Zendo. Lighting the candle, the incense, and 
    reciting the Wisdom Heart Sutra, we renew our vows and bring ourselves to the practice of studying ourselves. 
    As the self drops away and we are able to see clearly our true nature, we see the purity and wisdom of the Dharma teachings. 
    Getting up from the cushion, we know that we are taking with us a profound grounding and truth that we can share with others. 
    We share this without a word, just as the Buddha shared with Mahakashyapa, the complete and total understanding with a flower in his fingers.</p>
<p><b>Wisdom</b>. Wisdom is a part of all of the paramitas. It is the ground they stand on, so to speak. To be wise is to be charitable, 
    disciplined, patient, determined, mindful, and the result is the development of wisdom. Wisdom comes with time.
     It cannot be hurried, though we are all wise within our own understanding each moment. This sense will evolve 
     as we take each step of our lives. We will become wise when we see our truth, our failures, our successes, our efforts, and so 
     on as just what they are, impermanent moments of our being. Letting go of these is the fruit of our wisdom.</p>
</BaseLayout>