---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Order of Clear Mind Zen - Practice";
---
<BaseLayout pageTitle={title}>

    <p>This section contains basic information all Zen students should know.</p>

    <p></p>

    <p><a href="/heart">Commentary on the Great Heart of Wisdom Sutra</a><br />
        The Great Heart of Wisdom Sutra is one of the “Wisdom Sutras,” 
        the Diamond Sutra being its essential companion.  The Heart Sutra is a 
        key and fundamental teaching of Zen Buddhism. It is chanted at least 
        twice a day in most Zen practice centers.  </p>

  
    <p><a href="/perfections">The six perfections</a> <br />
        A paramita is an ‘excellence’ that we already contain as beings. 
        It is as if it were a diamond in the rough deep within us, waiting to show itself. 
        Our practice exposes it, frees it, so that we manifest it in our moment to moment lives. 
        Thus, it is not something to strive for, to become or to create: it is already there, deep within us. </p>

    <p><a href="/sandokai">Sandōkai</a><br />
        Sandōkai (the merging of difference and unity) is a poem written by Sekito Kisen in 8th century China. 
        It is an important Zen poem chanted daily in monasteries throughout the world and touches upon fundamental Zen teachings. 
        The poem is a continuation of a 2nd century Taoist text of the same name. Suzuki Roshi wrote "What is the difference 
        between Taoist teachings and Buddhist teachings? There are many similarities.  When a Buddhist reads the Sandokai it is a 
        Buddhist text, and when a Taoist reads it, it is a Taoist text."</p>

    <p><a href="/faith">Faith Mind Poem</a> <br />
    Xinxin Mind ("Faith Mind Poem" or perhaps more accurately "Faith in Mind") was written bu Jianzhi Sengcan 
    in 3rd century China and is one of the earliest Chan/Zen writings on Buddhism.  It focuses on the Chan/Zen 
    perspective that Mind is Buddha. </p>
    <p><a href="/readings">Suggested Readings</a></p>
</BaseLayout>