---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Order of Clear Mind Zen - Practice";
---
<BaseLayout pageTitle={title}>
  
  <Image src={ensoImage} alt="A description of my image." />
  <h2>A Socially Engaged Community</h2>
<p>In the Order of Clear Mind Zen, we follow the path of the Bodhisattva warrior. Clear Mind Zen is Engaged Zen.</p>

<p>Our Order began in 2005 after Daiho Roshi left the Zen Center of Las Cruces he had re-established in order to pursue a more socially 
  engaged Zen practice. Daiho practiced street Zen, began attracting students in other parts of the United States, and finally recognized 
  the need to become “official.” The Order was officially founded and granted non-profit corporate status in June of 2010.</p>

<p>Our understanding suggests true Zen practice is not nationally or ethnically based. Zen is Zen. 
  It is the complete Buddha Way. We hold that Clear Mind Zen is the Zen of everyday life, which is manifest in a deep 
  commitment to the Three Pure Precepts. We practice street Zen, a socially engaged practice of bearing witness to war, poverty, and ecological issues.</p> 

<p>We are affiliated with Zen Peacemakers International and with the Buddhist Peace Fellowship. We have affiliated centers in 
  Albuquerque, New Mexico, Las Cruces, New Mexico, and El Paso, Texas.</p>

<p>When we live with Clear Mind we do what is front of us to do, nothing added - nothing special. Please consider joining us and establishing 
  your own Clear Mind practice.</p>
  
</BaseLayout>