---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Order of Clear Mind Zen - Practice";
---
<BaseLayout pageTitle={title}>

    <p>A temporary placeholder</p>

    <a href="/heart">Commentary on the Great Heart of Wisdom Sutra</a>
  
    <p><a href="/perfections">The six perfections</a></p>
</BaseLayout>