---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Suggested Readings";
---
<BaseLayout pageTitle={title}>


<h2>San Bo Beginners</h2>
<p>Dokusan with Dogen: timeless lessons in negotiating the way, Barbara Verkuilen 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/747005376">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Dokusan-Dogen-Timeless-Lessons-Negotiating-ebook/dp/B007XSMQ72/ref=sr_1_1?crid=3E1XWDZ9JBZ11&dib=eyJ2IjoiMSJ9.olJmlRGT1JfIGHpvV3mjpqMaFO1VXcNZZBX8SmBNOIVzY7_93QO_05IIHCRTyMsp.01ua5Fse-o87VzOEGThBIWcEQpWHyaSF4YPwP1etmKQ&dib_tag=se&keywords=dokusan+with+dogen&qid=1734465363&sprefix=dokusan+with+dogen%2Caps%2C185&sr=8-1">Amazon</a>)</p>

    <p>Zen Mind, Beginner’s Mind, Shunryu Suzuki-roshi 
        (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/1052699522">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Zen-Mind-Beginners-50th-Anniversary/dp/1611808413/ref=sr_1_1?crid=279U4J9HNAL3N&dib=eyJ2IjoiMSJ9.OrvL6Z1htvGN8VBBftIJLSB2m8sNPxBr8RQCJRwhjscNTHUqpbsAUt-eBi370HKSFlbgSu67JBft8KH6l1EGmUCL1hRoPF0FZ7lR37nLmsOATRfYc6NdWCX0zObiSmrJDMyVZKdc4ABnH7fJGSuKHBt4whZQa9is81o_PY3gYmFZd3ZAhpoMpUyCWHSnIAV9AI5tJY1QNylNhrUfqudkM5eYfdgMadJsYJTIYltI-co.BtdZXRiA6PCCyhJKEh1jnaEWoNlUUxQRaPR0roIcI8k&dib_tag=se&keywords=zen+mind+beginners+mind&qid=1734466098&sprefix=zen+mind+beginners+mind%2Caps%2C151&sr=8-1">Amazon</a>)</p>

    </p>



    <p>The Kyosaku, selected essays, Soyu Matsuoka-roshi  </p>
(<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/700743448">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Kyosaku-Matsuoka-Roshi/dp/B00262VRMK/ref=sr_1_2?crid=44D19LVIGX12&dib=eyJ2IjoiMSJ9.bIVPkiWeLEZ6gjhY0Ou7t2W0AO7hZBJxtBmO54qGe8YPJa5Uz9zkglOHSDjKllIAtb3lVK1xAfOICVfkV-h9QzS3zCx-eaWrz3JGsb9UhxJVjTOX6jjQIK8vAd8xXxuP1h2OIPwhxJCYqTII-MrHtw.3yrQk55Grw4Tu_KXsEAxQTJ_XBingsjSQN0Ra4e5pcg&dib_tag=se&keywords=the+kyosaku&qid=1734465681&sprefix=the+kyosak%2Caps%2C172&sr=8-2">Amazon</a>)</p>

<p>Moku-Rai, Soyu Matsuoka-Roshi       
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/700743941">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Moku-Rai-Matsuoka-Roshi/dp/B005D3RAG6/ref=sr_1_1?crid=1MCX5TXQ8GIGE&dib=eyJ2IjoiMSJ9.U8gTud0aq-O_0Y1oQFYDmlPAhaoDi4MQoEzATJ8r-37GjHj071QN20LucGBJIEps.0WFqNMedae4J4TqRn3zSZc_g0nkWQ6zhQ673rm4yefg&dib_tag=se&keywords=moku+rai&qid=1734466141&sprefix=moku+rai%2Caps%2C149&sr=8-1">Amazon</a>)</p>




<p></p>
<h2>Jukai Intermediate</h2>
<p>The Heart of Being: Moral and Ethical Teachings of Zen Buddhism, John Daido Loori-roshi 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/42855782">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Heart-Being-Ethical-Teachings-Buddhism-ebook/dp/B008QCGWJW/ref=sr_1_1?crid=16U9W61RWCY3U&dib=eyJ2IjoiMSJ9.dSpPjz3R3da0h13Q_thaxcrhEAL372YesSww6ABahnqimW3CWVd52ywctqh_OFjv6555gNQWrvbHHPZtFhSAPVF8qEVt40DOVjepxTgoDflfU6osXIJxDAkmQrN74z_CEaW2MlPwrHdOrWDlxQ1jWOV4ZAmb2_vvlPw35546_Wpc0yCGravOLTxKnIbSA7Jzw7K0PFYRNjuKKYcoZrnftVV_6oxWPA-k9bTdRlwR0dA.ZS8q4F0a5nomXs5pxDirUuDssnY45CU_Cq3lQEKYvlA&dib_tag=se&keywords=the+heart+of+being&qid=1734466289&sprefix=the+heart+of+being%2Caps%2C186&sr=8-1">Amazon</a>)
</p>
<p>Being Upright: Zen Meditation and the Bodhisattva Precepts, Reb Anderson-roshi
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/44414111">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Being-Upright-Meditation-Bodhisattva-Precepts/dp/1930485018/ref=sr_1_1?crid=OMKJVSVE5CXL&dib=eyJ2IjoiMSJ9.A4z4H9z7O9o4GxFHWKRD-VZnSo3ON8mFRNJeDt29GaX_0pwx9mJ1an1BsBLRdB85wB98rfKyNfHTzmo1vryqhw.VJDdZ0lElakrRKbrH5oZlVZJ0bNNYVrd86BAlo4sM7w&dib_tag=se&keywords=being+upright&qid=1734466385&sprefix=being+upright%2Caps%2C147&sr=8-1">Amazon</a>)
</p>
<p>The Heart of the Buddha’s Teaching: Transforming Suffering into Peace, Joy, and Liberation, Thich Nhat Hanh      
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/66876270">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Heart-Buddhas-Teaching-Transforming-Liberation/dp/0767903692/ref=sr_1_1?crid=2T3QVV9064GFQ&dib=eyJ2IjoiMSJ9.-UP4wTFcLrgIoNkD028imi3Ty5u5G_XhT7gEgNv9rfvwrHEh4SArkQ8n2uMM3QjQei7CQ4El_slTT1xHniv2pZ5ZwT8GaveoDx0TsVrmf2j8QQWSozcG7cnMrZIPXXnqEyj_GYebjyMUZDWio1i6K-JWliLwdtpfhctWZTBj3MAyfm_sDLjHAlaxYJemN_N-ORT3dxzpxmBCIaq5io1JuA7Syqf3SN6t-MzJZpytoDU.LW49tcHhWlNGrV0G8BhOu1cbEewVMe0hDnGq0eWE5Qo&dib_tag=se&keywords=The+Heart+of+the+Buddha%E2%80%99s+Teachings&qid=1734466467&sprefix=the+heart+of+the+buddha+s+teachings%2Caps%2C231&sr=8-1">Amazon</a>)</p>


    <p>What the Buddha Taught, Walpola Rahula       
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/1444459699">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/What-Buddha-Taught-Expanded-Dhammapada/dp/0802130313/ref=sr_1_1?crid=1E5D7EFIJQGSG&dib=eyJ2IjoiMSJ9.4gn4Z6MZEHAxe3mZNNfUAYpvz_FjmFt_RMTasSVpPktpVed31n6euUr42wUdGLQAs2OGXzKF8Lflb7DUCdDCNaBfsVTlcoXW-hOiuGtu2G1d3ytYbVQDImvlFxcPfYmWmcw62jxTscJB-WVrkI1f7oAowWKExRkawsCYbk3KFhLYlvWra_SWIQeT7m9KEBHJbS_davxSI0k6tHPnTaY6knoBo-PqrGb1xCrDfezkoyE.wKW479KZ2dgrmBRMVqjMXq2DIBf_IEVPqUrrINsGNNY&dib_tag=se&keywords=what+the+buddha+taught&qid=1734466607&sprefix=what+the+buddha+taught%2Caps%2C148&sr=8-1">Amazon</a>)</p>

    <p>Buddha, Karen Armstrong
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/56746877">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Buddha-Penguin-Lives-Biographies-Armstrong/dp/0143034367/ref=sr_1_1?crid=1NTLJXQWJ0DNG&dib=eyJ2IjoiMSJ9.Xo4iaDu9IMvAyr2pX60ULRLVkugBKKbHojg5SPOnhQqd9gtX-7ARdzRRR5Fz-tBRDal35SG-cMyY-0hSTk75nt685MVTkAfzUKH9_jCa0H4I9A0vb1JMp6S48nL8Plx_kki6osvFqMt1N267VHHSHI2mxH-KvUZZAuQOoxF36MMpXOn_eCwR-jouX0eQcanQMQ6k5aoVGnkJNe9Tgd7gsxSIEurk3L92jIwT_9MWnFY.0jqvobSa0MrhuoAxO5PS3r53N7dBLm1Es-DQyKeAUDc&dib_tag=se&keywords=buddha+karen+armstrong&qid=1734466667&sprefix=buddha+karen+armstron%2Caps%2C150&sr=8-1">Amazon</a>)
</p>

<p>At Hell’s Gate: A Soldier's Journey, Claude Anshin Thomas
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/63678541">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/At-Hells-Gate-Soldiers-Journey/dp/159030134X/ref=sr_1_1?crid=35Q0QICNAS1KR&dib=eyJ2IjoiMSJ9.5PihkGPOEhTnFEndLka8w_LYJdwND84KzAS_U7FWTTlHee60uGC_8QV2ajpPkwoOPEPxG1t1iNJQNgRr-GuWt-I5Wcbo0Aj_h4D_99yCFPwzWcbVGug8kBZ1AixtKw3JSsEeIUcl6-j6__nwkx_Wmry3P5F-0Ytc7ha4eR7sCxQI4aZGktsMVPlX5LzMd6aInBoY7c-6zRglvGpx8c6lPyw1n8ijR-gWzD-sFxFAuUA.WmGBRFFjFSvFOxrYEnSdKnspkslAMNEbFIbLVqrFVEQ&dib_tag=se&keywords=at+hells+gate&qid=1734466708&sprefix=at+hells+gate%2Caps%2C206&sr=8-1">Amazon</a>)
</p>
<p>The Mind of Clover: Essays in Zen Buddhist Ethics, Robert Aitkin
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/12312915">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Mind-Clover-Essays-Buddhist-Ethics-ebook/dp/B017700ZR8/ref=sr_1_1?crid=3L8Y8JDVYL4JU&dib=eyJ2IjoiMSJ9.1_04Rl-7nTCmXlOCc82TPg.YxPgnwMJ6zZDDH2GarLKEw4w3_bekxjdHGThUZDSGAQ&dib_tag=se&keywords=The+Mind+of+Clover%3A+Essays+in+Zen+Buddhist+Ethics&qid=1734466828&sprefix=the+mind+of+clover+essays+in+zen+buddhist+ethics%2Caps%2C132&sr=8-1">Amazon</a>)
</p>
<p>Cultivating the Empty Field, Trans by Taigen Dan Leighton
    (<a target="_blank" rel="noopener noreferrer" href="">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="">Amazon</a>)
</p>
<p>Living Zen, Harvey Daiho Hilbert-roshi
    (<a target="_blank" rel="noopener noreferrer" href="">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="">Amazon</a>)
</p>
<p></p>

<h2>Disciples – Advanced</h2>


<p>Zen is Eternal Life, Jiyo Kennett-roshi 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/949274684">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Eternal-Life-Routledge-Library-Editions-ebook/dp/B0C8RKDQWP/ref=sr_1_1?crid=3VK46PGI4R8TK&dib=eyJ2IjoiMSJ9.dSN86zi14fFwDfzE-Rr5ap8PwjJ1nM8Z_hcaGtRiOzR2Rf1XmPqKiy-tkpagZUeQ_2i8c3TKnD4l-sAZTM_V5QVp5ehEsS7NKCV5zNR7El1EqUIMpenBzmJSn_c3DQ3-tgD2wFl6qTdk8IyFxz3jMHKTEuFfN6OzsmD0DuOOCje-Q0EUDZuFSVfzjMJEqVN5lbLJHdJDV8XKviraL3bMq-8x5Vhl3eegBPYBVlAUEQLK9BH4h3N5mUHy4DmswzC3.iWQGDjDjmbjdmtdBhT0SOVwOiVZDgo9iu3eZ5jFLAjQ&dib_tag=se&keywords=zen+is+eternal+life&qid=1734467965&sprefix=zen+is+ete%2Caps%2C151&sr=8-1">Amazon</a>)
</p>
<p>Old Path, White Clouds, Thich Nhat Hanh 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/22625344">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Old-Path-White-Clouds-Footsteps/dp/8121606756/ref=sr_1_2?crid=L8ABFIVSM98O&dib=eyJ2IjoiMSJ9.rtFevaVL0T_Zv-7qbSS2hCIeS6WEz84DAWZnWEEsUwRx4izNevyhUYCafSNzSoA3117H3_PDJw7PU56ag4NDKV9xzhv64FX_3i2ijiFHBDg0XnkwALynBIZi58qXtQloQ5ADj6xXtaxj7P83iBP84s4UC_Sh2HjAMh3ZGK8IwzatuEJfrN4S_8nad789pFvRwfeNHX_D94hHv1bJTNlLV_WqWYHHuvFosnbqJTkLLBM.Je1yhpSwN3gpBz6OV_0O54Upgqyhj9aGt585GyrHkIs&dib_tag=se&keywords=Old+Path%2C+White+Clouds&qid=1734468002&sprefix=old+path%2C+white+clouds%2Caps%2C197&sr=8-2">Amazon</a>)
</p>
<p>The Platform Sutra of the Sixth Patriarch, trans. by Yampolsky 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/796815907">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Platform-Sutra-Patriarch-Translations-Classics/dp/0231159579/ref=sr_1_3?crid=1QZPSVLQPXYND&dib=eyJ2IjoiMSJ9.aZ83hTWIYykTU4F8prrAtihbxQb9Vfm_UCPl1LAxuJWTMTSeOc-Q8hhEfggeeqH2MqD4cAAKfZjyUxsaSwgt5Nz0ttw2fwyoClLVyWNdETu7oPq7IqaP9m7gx6P7jx2mL_QylXci6iDGgCKXdNvxTzssT4uxgR9gjKHSr9lgFCgZzeYuE1TL8OG_m0UJ8ud-HSyvlwjmdSnqERRkf5zlyg0KFwzKqc-o9GwAw8EB4kI.mPn4TCy9B22q2RHR5UlVcPS2drV4e6JoTmEMbWLTn_M&dib_tag=se&keywords=Platform+Sutra+of+the+Sixth+Patriarch&qid=1734468062&sprefix=platform+sutra+of+the+sixth+patriarch%2Caps%2C150&sr=8-3">Amazon</a>)
</p>
<p>Opening the Hand of Thought, Uchiyama-roshi 
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/1373780681">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/dp/0861713575?ref=ppx_yo2ov_dt_b_fed_asin_title">Amazon</a>)
</p>
<p>How to Cook Your Life: From the Zen Kitchen to Enlightenment, Uchiyama-roshi
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/60321769">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/How-Cook-Your-Life-Enlightenment/dp/1590302915/ref=sr_1_1?crid=2AXZWQ66IHLJL&dib=eyJ2IjoiMSJ9.K3tmK2NBiMqD9UVVs6UtG7UO3MbL14vS0ule9GS8w73YgBlgxYPjc0Ul3idxn7celRxoc02u8J--DhiMo6eWYWZETF3h7KvB97NAxpKm01qPN8rUsAJtJDyl1smPUDXL-ZGQa9aE3OSGaUP_GJIZ_pQL5uhEiMF8jbLTmWRlJ-k3uDjWHtruMQdNaebbmTIyvZJZkvx_Ia-qO7gJf_uaoaxMswGW2jyq_x7GhAqsZvE.ha9FS7Y-BxYzPDt3kFwIyXRytCDmpcCoHBGNziaaj5I&dib_tag=se&keywords=How+to+Cook+Your+Life&qid=1734468253&sprefix=how+to+cook+your+life%2Caps%2C299&sr=8-1">Amazon</a>)
</p>
<p>The Wholehearted Way; A Translation of Eihei Dagen's Bendowa, With Commentary by Kosho Uchiyama Rosh, Uchiyama-roshi
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/948754179">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Wholehearted-Way-Translation-Commentary-Uchiyama-ebook/dp/B006TKP1XQ/ref=sr_1_1?crid=CW77U9Z1BW5S&dib=eyJ2IjoiMSJ9.pUYo2Om-TZFT0Mtva7lLDWpjX_amONiXNj0joBkf6EC8HCkLwigmBKFg7l1wTP_y1NFrxQr-OM2NqZ9SwRQRHN9T9rhYB6YAQmSnVazp8GXVgLs-cjcsroVZd92Z5yfpjKV_c53i15fOKS-pWpyzmNtTW7TQ2v0oJbi4wkNJCL7jZwln8BFzXv6h0dFEEtL9.V3weTLVW1ARDprIPvSzaBXIut7rfmH4yA8Mi6R6m-to&dib_tag=se&keywords=The+Wholehearted+Way&qid=1734468323&sprefix=the+wholehearted+way%2Caps%2C216&sr=8-1">Amazon</a>)
</p>
<p>Realizing Genjokoan: The Key to Dogen's Shobogenzo, Okumura-roshi
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/531718920">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Realizing-Genjokoan-Key-Dogens-Shobogenzo/dp/0861716019/ref=sr_1_1?crid=3CMZ0I7LSE6RN&dib=eyJ2IjoiMSJ9.PrUYUN-GO-tL0_Z5SD6_zK_iyyuGig8om8aw4o9lv7e7om9k03Q3cjVQDXslIUMzNHdGQupptDYEG12sltCSfhiAept4qo7p7nLxdWTrW-lmzgF9ifbwZJ-InKD-NmjuVVM_f423itHEuVdv-SA6bvCluCJ0q7kdvTABRPO3on0.l2yGvNjxlBNuO_5mqGkcXTtpyrD4Q5vK07tTHkDldAo&dib_tag=se&keywords=Realizing+Genjokoan&qid=1734468437&sprefix=realizing+genjokoan%2Caps%2C248&sr=8-1">Amazon</a>)
</p>
<p>Instructions to the Cook: A Zen Master's Lessons in Living a Life that Matters, Glassman & Fields
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/36959771">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Instructions-Cook-Masters-Lessons-Matters/dp/1611800684/ref=sr_1_1?crid=2UDW9UVB6MFQR&dib=eyJ2IjoiMSJ9.tQl7XL63uZp1ypSkBI0THBgo7Wo6sxU3rArvqKSoKxA40pUW0ChVRJsKi2qD6sw815cB17LFc0ow85aaFedF_eZdQNRNGwZbMLd03P1Y9aB73x0B1VlHJkZYAa-VQBhD3GeLUJvXrFz78SbjHU726BNq53quSkc-GIcdcYSP3RH_anezfgVEM3G7lErwBVXIAtRPKqmwO6LdShlHSnHqcdZiuNWiR8J24DYYEgqhllg.ZjengcZGQsPU2q9FPXmXX0zK8uYqyrzN8uJGuUAjfI4&dib_tag=se&keywords=Instructions+to+the+Cook&qid=1734468511&sprefix=instructions+to+the+cook%2Caps%2C308&sr=8-1">Amazon</a>)
</p>
<p>The Wisdom Books: The Diamond Sutra and the Heart Sutra edited and translated by Edward Conze
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/8033143">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Buddhist-Wisdom-Diamond-Sutra-Heart/dp/0375726004/ref=sr_1_1?crid=167IM5V0KE5KX&dib=eyJ2IjoiMSJ9.vuR8AzC1bWz7yhX2X5cVXlnkJ42klTuJjMLPkr2cFhGeXq6b8m0Fq6H86S8ukFLjkiinRc-IEN_IsXBxSbj3cZLfDC5k66U82DAQI_VqzgUY6d4auOGJ97dSLgGky1bxScH6hcT1ocXnWXFkTnAgzP10dqmpEQ4_k-y37DA3YfPfsHNfy2_6J9X6IqvZ38sUvvHdGgtoWZyeO1-Cyjz2Ag.k4FBMAkv-kze0XBkrNzervgn7HPjnDOR7fSSrfHRzyk&dib_tag=se&keywords=The+Wisdom+Books%3A+The+Diamond+Sutra+and+the+Heart+Sutra&qid=1734468617&sprefix=the+wisdom+books+the+diamond+sutra+and+the+heart+sutra%2Caps%2C220&sr=8-1">Amazon</a>)
</p>
<p>Bearing Witness: A Zen Master's Lessons in Making Peace, Bernie Glassman
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/858941383">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Bearing-Witness-Masters-Lessons-Making/dp/0609600613/ref=sr_1_2?crid=26IRZSI6FMVWA&dib=eyJ2IjoiMSJ9.U3VFEjSCKxpNpGMIHTxZ1ACKddT6RaJuH2691yZCwLz42PIfDg1jYun8XajtJmfaAYmiJXitN0flBVbhLEPbN3o3XToMV1_vM6wRX3d4IFE3N7OyZnBMSZnXBmDlhaE7LMSeux_T2mwi37P-J4b0btPjIOTYntvfaYoxbj2-Bl-S0-Vq6W_I4mhouQ-m9WUq1dlgmf1KsKZfnOmn9pQoufeOCRTu0Q6HpaOEQE98lGc.TaA9uRFhf_eTuNeCjSe3UG-PHoD4FcEtF7unvBaBI_U&dib_tag=se&keywords=Bearing+Witness&qid=1734468668&sprefix=bearing+witness%2Caps%2C692&sr=8-2">Amazon</a>)
</p>
<p>The Compass of Zen, Seung Sahn
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/36755855">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Compass-Zen-Shambhala-Dragon-Editions/dp/1570623295/ref=sr_1_1?crid=3RX6X7ZLZ1MWR&dib=eyJ2IjoiMSJ9.tAoLdjGp44AOVQ7DBorw688GooND8s2jAxz1Xcblg1lvx7iP2HQl6G1ivO5xWbPA7HICbg-_KsW5Dt_OogAS3LfQ5awMSi7yzow8pc_OaYzU7aUEZp4Dk2pcNiKrxHxtO6vJxg0j8jpWzb5BpMpsgkNiM9pWV9iuVOYLnsSXwlqgaxU68cWXgb_omI7cbN6FIBC3wdFHd8rfZtx48khhUNlPd4-o9Ls8U5xawLB_pzw.pzvP4P6VDpUilGyW4KXkPC5C9iyaZ8u4C7-rw-cZDuw&dib_tag=se&keywords=the+compass+of+zen&qid=1734468756&sprefix=the+compass+of+zen%2Caps%2C330&sr=8-1">Amazon</a>)
</p>
<p>The Eight Gates of Zen: A Program of Zen Training, John Daido Loori-roshi
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/50028580">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Eight-Gates-Zen-Program-Training/dp/1570629528/ref=sr_1_1?crid=ZO2LZLL1WU04&dib=eyJ2IjoiMSJ9.nNIrU0FfQ7TcxwiNYNEM7nxFRpb6leN79xEBkNRyITjwnLyhE5W3ei8xjJAe4SpLPDTeOUXGs60-DSJJ1HMgGHfklHJlEQImpjh_9Nn_Kc4.3rHqI5d6MkvO--qyoSaH-YOtokWCkCLndgKBByIkgjY&dib_tag=se&keywords=The+Eight+Gates+of+Zen&qid=1734475872&sprefix=the+eight+gates+of+zen%2Caps%2C277&sr=8-1">Amazon</a>)
</p>
<p>Eloquent Silence, Nyogen Senzaki
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/230915707">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Eloquent-Silence-Previously-Unpublished-Teachings/dp/0861715594/ref=sr_1_2?crid=6XOM7CG9NT2R&dib=eyJ2IjoiMSJ9.C9mFUQGtssWExqs9-p7wSZwvXkPCsXbh14JOsMPQIxOrXzZBtYTvc92_FYi0WPWPqomdNlsBybvCr5EIs4XEcoCKbP-F55UqANB7J4oHpwKeOVyHS_sv4ybR0DpfqMCxCtr0jCj_gHnEg5notNc3D2nqii9HuI9u-fqWnCfp2oxxGOX8lIRcRoi1Ehls7YE_bT0hCL54nAf243Bx6Kz66i6RYSk6xAJFX3OLB81eGtI.BEr2ef1KozhzpwhJR7m_u5jJ0qJ1MzEQbywE-HItFG4&dib_tag=se&keywords=Eloquent+Silence&qid=1734475915&sprefix=eloquent+silence%2Caps%2C193&sr=8-2">Amazon</a>)
</p>
<p>Zen in Your Pocket, Harvey Daiho Hilbert-roshi

    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Zen-Your-Pocket-everyday-catastrophic/dp/1519199759/ref=sr_1_1?crid=21GHKO3G4RHDI&dib=eyJ2IjoiMSJ9.8lnR2A5UltyNEPkDxbqFaXYiB_38l6sM7z5LB_ztKsFiWmq7ia8QqpcDnEe8a3CPok9nDwze6ozkbwZC2MmX1VH1Oj35AJ-gnAXuTGivy00qMYdMuPzqtYkfN4pqz86RupzqC7piiGDPhRBdcYgCCA.P4_GvKDGXsyr5ec8WnG2GcA0FSW1psZ_ChylKlZTEdc&dib_tag=se&keywords=Zen+in+Your+Pocket&qid=1734476083&sprefix=zen+in+your+pocket%2Caps%2C283&sr=8-1">Amazon</a>)
</p>
<p></p>
<h2>Shukke Advanced</h2>
<p>The Zen Teaching of Bodhidharma, translated by Red Pine
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/839390064">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Zen-Teaching-Bodhidharma-English-Chinese/dp/0865473994/ref=sr_1_1?crid=31XUB5OUM6C1I&dib=eyJ2IjoiMSJ9.ozA6pYk6UkDSRCOa2c_CvL5zjfDVvQ0lNz4yOH-3ocE7jC90fRqx2gAZNejZ0oDPOnPMZS3VCgIRqzszIBO3aHMq3RnD9HwSHaUaw6prxSbDj5M04-e5bNjkPg4YYdrsVzhUZEzwdOT-zTiDitQjXQvTga71sPGgiETZX6LQo0xurY62imBtwkhamZ44IKwXVvZY9AaKg6v0nlclugP1x5NvwnGagrkarX4rvQhWDAM.1MsBDA0l_0WT4tvs5htbwE08B84_CsqB7yBThs2Wy10&dib_tag=se&keywords=The+Zen+Teachings+of+Bodhidharma&qid=1734476175&sprefix=the+zen+teachings+of+bodhidharma%2Caps%2C341&sr=8-1">Amazon</a>)
</p>
<p>Master Dogen’s Shobogenzo, volumes 1-4, trans. & edited by Gudo Nishijima
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/1045637104">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Master-Dogens-Shobogenzo-Book-1/dp/B09FC8CQWY/ref=sr_1_1?crid=2B5UNFYOY8IA7&dib=eyJ2IjoiMSJ9.bE_m-wRTx6-mSDG4y2SAT7_uCZYmVkr8SEWaLplm3UK9Ft_p-4fJsujwuPWUDHiGQySe4z26Idqq3zg4fNTvn6GQgFi0TqPxyfZ3eveoI05CQohEKsWBDV5t0UGmiqMl801b4KwTwrUJDT-swOlZYg-NVAGpyfYgg4hHbDYuu-bOtzBYt0m2B832oXYyqc6fFcZ5fix6z_euVhk1WeRggxYmHZmWrEmacmHhfR7PLJ4.b2HRvOHctaQW2njgTeWg2HgVh9r1L8rNLih4A7xLMtA&dib_tag=se&keywords=nishijima&qid=1734476522&sprefix=nishijim%2Caps%2C202&sr=8-1">Amazon</a>)
</p>
<p>The Diamond Sutra: The Perfection of Wisdom, translated and commentary by Red Pine
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/46908668">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Diamond-Sutra-Perfection-Wisdom-ebook/dp/B0097DHVLC/ref=tmm_kin_swatch_0?_encoding=UTF8&dib_tag=se&dib=eyJ2IjoiMSJ9.NaEJaHE-qOpLt3aGeoRRK3bKJ-Q6wfviqJMgvgtrQt_Air_mb0y82rG8odq5J_mXynw_ftWJwsrxr7-qhnmEoVTYmuS-3i_psr7Q_U5oCs_R0bfAJMT_D2OdkGcDqE92nqzByJCyEXrEkVDOSv-Yo4i2QlMQZo2MNDtbbBnYDDQi5sPjCWWM-Lzwlxa5iAGh1s8847GWPS-i2ZCsZHbv6JRVqF3zYASZ422hffzz778.SzO9vu2zdjEToGUfd-ct72JVF5uLr5_D7FpCcb4B3tU&qid=1734476559&sr=8-1">Amazon</a>)
</p>
<p>The Heart Sutra, translated and commentary by Red Pine
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/55228681">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Heart-Sutra-Red-Pine-ebook/dp/B003XKN6IC/ref=pd_sim_d_sccl_1_1/130-6738632-0043127?pd_rd_w=uXYci&content-id=amzn1.sym.fc475966-e837-48fc-9ed0-f4ca6ae9337b&pf_rd_p=fc475966-e837-48fc-9ed0-f4ca6ae9337b&pf_rd_r=259YBZW641Z2EAJ690CC&pd_rd_wg=qnJsp&pd_rd_r=6d66be18-f3df-4b76-bfbd-1b6dec674ba4&pd_rd_i=B003XKN6IC&psc=1">Amazon</a>)
</p>
<p>The Platform Sutra: The Zen Teaching of Hui-neng, translated and commentary by Red Pine
    (<a target="_blank" rel="noopener noreferrer" href="https://search.worldcat.org/title/71507158">public library</a>) 
    (<a target="_blank" rel="noopener noreferrer" 
    href="https://www.amazon.com/Platform-Sutra-Zen-Teaching-Hui-neng-ebook/dp/B003S3RL4Y/ref=sr_1_1?crid=10BTC4UUX8RG4&dib=eyJ2IjoiMSJ9.HUeYkgahCucVAXniK7SXK1NdmJUt-p4NjQKjuOrIKxxNKknV3wi8sP94B5vURbCckJNyKxooSosFwNVlH8kQ8dbiaMJb9ywv8drO8JeNo8ytiF4OZCsndkorC2IR43d3_cGoK2DhaF987NmWebamVSOl7YnQjeVJ5rKGjrTEn3Q.YK7j5RHjmhvhtmhRvDd20mW3hx0dpJ4EBz4M9q076gg&dib_tag=se&keywords=The+Platform+Sutra&qid=1734476725&s=digital-text&sprefix=the+platform+sutra%2Cdigital-text%2C145&sr=1-1">Amazon</a>)
</p>
</BaseLayout>