---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
import { Image } from 'astro:assets';
import myImage from '../assets/zenLogo.png'; // Image is 1600x900
import ensoImage from '../assets/enso25.png'; // Image is 1600x900
const title = "Sandokai";
---
<BaseLayout pageTitle={title}>

   <h2>The Harmony of Difference and Equality</h2>>
<h3>Sekito Kisen (700-790 Common Era)</h3>
    
<p>Of India’s greatest sage, and to the source</p>
<p>Kept true as an unsullied stream is clear.</p>
<p>Although by wit and dullness the true way</p>
<p>Is varied, yet it has no patriarch</p>
<p>Of south or north. Here born, we clutch at things</p>
<p>And then compound delusion later on</p>
<p>By following ideals. Each sense gate and</p>
<p>Its object all together enter thus</p>
<p>In mutual relations and yet stand</p>
<p>Apart in a uniqueness of their own,</p>
<p>Depending and yet non-depending too.</p>
<p>In form and feel component things are seen</p>
<p>To differ deeply, and the voices in</p>
<p>Inherent isolation, soft and harsh.</p>
<p>Such words as “high” and “middle” darkness match;</p>
<p>Light separates murky from the pure.</p>
<p>The properties of the four elements</p>
<p>Together draw just as a child returns</p>
<p>Unto its mother. Lo! The heat of fire,</p>
<p>The moving wind, the water wet, the earth</p>
<p>All solid; eyes to see, sounds heard, and smells;</p>
<p>Upon the tongue the sour, salty taste.</p>
<p>And yet in each related thing, as leaves</p>
<p>Grow from the roots, and “high” and “low”</p>
<p>Are used respectively. Within all light</p>
<p>Is darkness, but explained it cannot be</p>
<p>By darkness that one-sided is alone.</p>
<p>In darkness there is light, but here again</p>
<p>By light one-sided it is not explained.</p>
<p>Light goes with darkness as the sequence does</p>
<p>Of steps in walking.</p>
<p>All things herein have Inherent, great potentiality;</p>
<p>Both function, rest, reside within. Lo! with</p>
<p>The ideal comes the actual, like a box</p>
<p>All with its lid. Lo! with the ideal comes</p>
<p>The actual, like two arrows in mid-air</p>
<p>That meet.</p>
<p>Completely understand herein</p>
<p>The basic truth with these words. Lo! Hear!</p>
<p>Set up not your own standards. If, from your</p>
<p>Experience of the senses, basic truth</p>
<p>You do not know, how can you ever find</p>
<p>The path that certain is not matter how</p>
<p>Far distant you may walk. As you walk on,</p>
<p>Distinctions between near and far are lost,</p>
<p>And should you lost become, there will arise</p>
<p>Obstructing mountains and great rivers.</p>

</BaseLayout>