---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/practice">Practice</a>
    <a href="https://organmountainzen.blogspot.com/" target="_blank" rel="noopener noreferrer">Blog</a>
    
    <ThemeIcon />
  </div>
