---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/practice">Practice</a>
    <a href="/blog">Blog</a>
    
    <ThemeIcon />
  </div>
